@{
    Layout = "app-detail-2cols";
}

<div class="tn-box tn-widget tn-widget-content tn-corner-all spb-vote-intro">
    <div class="tn-box-content tn-widget-content tn-corner-bottom">
        <div class="tn-hd">
            <h1 class="tn-title">投票标题投票标题投票标题投票标题</h1>
            <div class="tn-count">
                <div class="tn-cue-success tn-corner-all tn-message-box"><strong>999</strong><em>人参与</em></div>
            </div>
            <div class="tn-timing">结束倒计时：<strong class="tn-text-bright">6天 32小时12分</strong></div>
        </div>
        <div class="tn-bd">
            投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述投票描述
        </div>
    </div>
</div>

<div class="tn-box tn-widget tn-widget-content tn-corner-all spb-vote-cont spb-vote-detail">
    <div class="tn-box-content tn-widget-content tn-corner-bottom">
        <div class="tn-main-heading tn-border-gray tn-border-bottom">
            <h2>投票选项<em>最多选3项</em></h2>
        </div>
        <div class="spb-vote-text">
            <div class="spb-vote-item tn-border-gray tn-bg-gray tn-helper-clearfix">
                <div class="tn-text">文本文本文本文本文本文本文本文本文本文本文本文本文本文本</div>
                <div class="tn-check"><label><input type="checkbox" class="tn-checkbox" name="" value="">
                    </label></div>
            </div>
            <div class="spb-vote-item tn-border-gray tn-bg-gray tn-helper-clearfix">
                <div class="tn-text">文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本</div>
                <div class="tn-check"><label><input type="checkbox" class="tn-checkbox" name="" value="">
                    </label></div>
            </div>
            <div class="spb-vote-item tn-border-deep tn-bg-deep tn-helper-clearfix">
                <div class="tn-text">选中的样式</div>
                <div class="tn-check"><label><input name="" type="checkbox" class="tn-checkbox" value="" checked>
                </label></div>
            </div>
        </div>
        <div class="spb-vote-hint">
            <div class="tn-cue-highlight tn-corner-all tn-message-box"><p>此投票包含隐藏内容，投票可见</p></div>
            <div class="tn-cue-tips tn-corner-all tn-message-box tn-border-gray tn-bg-gray"><p>可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容</p></div>
        </div>
        <div class="spb-vote-feedback tn-helper-clearfix">
            <ul class="tn-checkbox-list">
                <li class="tn-inline-list">
                    <input type="checkbox" class="tn-checkbox" name="" value="">
                    <label for="label">分享</label>
                </li>
                <li class="tn-inline-list">
                    <input type="checkbox" class="tn-checkbox" name="" value="">
                    <label for="label">匿名</label>
                </li>
            </ul>
            <button class="tn-button tn-corner-all tn-button-text-only tn-button-large tn-button-primary"><span class="tn-button-text">投票</span></button>
        </div>
    </div>
</div>
<div class="tn-box tn-widget tn-widget-content tn-corner-all spb-vote-cont spb-vote-detail">
    <div class="tn-box-content tn-widget-content tn-corner-bottom">
        <div class="tn-main-heading tn-border-gray tn-border-bottom">
            <h2>投票选项<em>最多选3项</em></h2>
        </div>
        <div class="spb-vote-photo tn-helper-clearfix">
            <div class="tn-flow-wrap">
                <div class="tn-flow-inner">
                    <div class="tn-border-gray tn-bg-gray tn-img-wrap">
                        <div class="tn-img"><img src="http://ww1.sinaimg.cn/bmiddle/badba7ffjw1eue3s8okjhj21w01f01l0.jpg" /></div>
                        <div class="tn-check">
                            <label><input name="" type="checkbox" class="tn-checkbox" value=""></label>
                            <div class="tn-text">投票选项投票选项投票选项最多只显示两行</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tn-flow-wrap">
                <div class="tn-flow-inner">
                    <div class="tn-border-gray tn-bg-gray tn-img-wrap">
                        <div class="tn-img"><img src="http://ww1.sinaimg.cn/bmiddle/badba7ffjw1eue3s8okjhj21w01f01l0.jpg" /></div>
                        <div class="tn-check">
                            <label><input name="" type="checkbox" class="tn-checkbox" value=""></label>
                            <div class="tn-text">投票选项投票选项投票选项最多只显示两行</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tn-flow-wrap">
                <div class="tn-flow-inner">
                    <div class="tn-border-deep tn-bg-deep tn-img-wrap">
                        <div class="tn-img"><img src="http://ww1.sinaimg.cn/bmiddle/badba7ffjw1eue3s8okjhj21w01f01l0.jpg" /></div>
                        <div class="tn-check">
                            <label><input name="" type="checkbox" class="tn-checkbox" value="" checked></label>
                            <div class="tn-text">选中的样式</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tn-flow-wrap">
                <div class="tn-flow-inner">
                    <div class="tn-border-gray tn-bg-gray tn-img-wrap">
                        <div class="tn-img"><img src="http://ww1.sinaimg.cn/bmiddle/badba7ffjw1eue3s8okjhj21w01f01l0.jpg" /></div>
                        <div class="tn-check">
                            <label><input name="" type="checkbox" class="tn-checkbox" value=""></label>
                            <div class="tn-text">投票选项投票选项投票选项最多只显示两行</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spb-vote-hint">
            <div class="tn-cue-highlight tn-corner-all tn-message-box"><p>此投票包含隐藏内容，投票可见</p></div>
            <div class="tn-cue-tips tn-corner-all tn-message-box tn-border-gray tn-bg-gray"><p>可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容可见的隐藏内容</p></div>
        </div>
        <div class="spb-vote-feedback tn-helper-clearfix">
            <ul class="tn-checkbox-list">
                <li class="tn-inline-list">
                    <input type="checkbox" class="tn-checkbox" name="" value="">
                    <label for="label">分享</label>
                </li>
                <li class="tn-inline-list">
                    <input type="checkbox" class="tn-checkbox" name="" value="">
                    <label for="label">匿名</label>
                </li>
            </ul>
            <button class="tn-button tn-corner-all tn-button-text-only tn-button-large tn-button-primary"><span class="tn-button-text">投票</span></button>
        </div>
    </div>
</div>

@section Aside{
    <div class="tn-box tn-widget tn-widget-content tn-corner-all spb-vote-promoter">
        <div class="tn-box-content tn-widget-content tn-corner-bottom">
            <div class="spb-vote-card">
                <div class="tn-avatar">
                    <a href="#"><img src="http://tp2.sinaimg.cn/1770828465/50/5689380775/0" /></a>
                </div>
                <div class="tn-info">
                    <a href="#" class="tn-user-name">用户名</a>
                    <div class="tn-text">个人描述个人描述个人描述个人描述个人描述个人描述个人描述个人描述</div>
                    <div class="tn-btn"><a href="#" class="tn-button tn-corner-all tn-button-default tn-button-hollow tn-button-text-icon-primary"><span class="tn-icon tn-smallicon-add"></span><span class="tn-button-text">关注</span></a></div>
                </div>
            </div>
        </div>
    </div>
        <div class="tn-box tn-widget tn-widget-content tn-corner-all spb-vote-bigbtn">
        <div class="tn-box-content tn-widget-content tn-corner-bottom"><a href="#" class="tn-button tn-corner-all tn-button-text-only tn-button-large tn-button-primary"><span class="tn-button-text">发起投票</span></a></div>
    </div>
}